* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
  }
  
  h1 {
    font-weight: 700;
    font-size: 48.8653px;
    line-height: 130%;
    color: #ffffff;
    width: 753.34px;
  }
  
  h2 {
    font-weight: 700;
    font-size: 40.7211px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #242424;
  }
  
  h3 {
    font-weight: 500;
    font-size: 28.5048px;
    line-height: 130%;
    color: #616161;
  }
  
  header {
    background: #000000;
    padding: 30px 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  nav .link {
    font-family: "Inter";
    font-size: 16.2884px;
    line-height: 20px;
    color: #ffffff;
    opacity: 0.7;
    transition: 0.3s;
  }
  
  nav .link:hover {
    opacity: 1;
  }
  
  nav .link-btn {
    width: 247.38px;
    height: 40.72px;
    background: #ffce2e;
    border-radius: 101.803px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 15.2704px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #242424;
    transition: 0.3s;
  }
  
  nav .link-btn:hover {
    color: #fff;
  }
  
  .first-section {
    background-image: url("./assets/bg.png");
    display: center;
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 190px 350px;
    display: flex;
  }
  
  .info-points {
    font-size: 15.2704px;
    line-height: 150%;
    color: #ffffff;
    opacity: 0.7;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 35px;
  }
  
  .info-points span {
    width: 54px;
    height: 26px;
    background: #006d8f;
    border-radius: 122.163px;
    display: inline-block;
    text-align: center;
    font-size: 13.2344px;
    color: #ffffff;
  }
  
  .info-account {
    font-size: 18.3245px;
    line-height: 150%;
    color: #ffffff;
    opacity: 0.7;
    width: 400px;
    margin-top: 22px;
    margin-bottom: 41px;
  }
  
  .btn-secondary {
    width: 247.38px;
    height: 48.87px;
    border: 1.01803px solid #ffffff;
    border-radius: 101.803px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 15.2704px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #ffffff;
    transition: 0.3s;
  }
  
  .btn-secondary:hover {
    background: #242424;
    border: 1px solid #242424;
  }
  
  .second-section {
    padding: 95px 350px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    position: relative;
  }
  
  .second-section .container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  
  .container .container-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
  }
  
  .container-cards .card {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 8px;
  }
  
  .card img {
    margin-bottom: 20px;
  }
  
  .card .info {
    font-size: 18.3245px;
    line-height: 150%;
    color: #242424;
    width: 263.67px;
  }
  
  .card .description {
    font-weight: 400;
    font-size: 16.2884px;
    line-height: 150%;
    color: #616161;
    width: 263.67px;
  }
  
  .cards-group {
    position: absolute;
    right: 250px;
    top: 0px;
    animation: moveCards 2s infinite alternate ease-in-out;
  }
  
  @keyframes moveCards {
    from {
      top: 0;
    }
  
    to {
      top: -150px;
    }
  }
  
  .third-section {
    padding: 110px 350px;
    background: #fafafa;
  }
  
  .container-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  
  .container-links {
    width: 602.67px;
    height: 73.3px;
    border: 1px solid #c4c4c4;
    border-radius: 122.16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
  }
  
  .second-link {
    width: 273.85px;
    height: 57.01px;
    border-radius: 122.163px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-style: normal;
    font-weight: 500;
    font-size: 16.2884px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #616161;
    transition: 0.3s;
  }
  
  .second-link:hover {
    background: #242424;
    font-weight: 600;
    color: #ffffff;
  }
  
  .content-card-info {
    background: linear-gradient(98.6deg, #020302 7.61%, #242424 96.26%);
    border-radius: 12.2163px;
    padding: 90px 100px 50px 100px;
    display: flex;
    width: 1237.92px;
    height: 431.64px;
  }
  
  .content-card-info .card-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .card-info .info {
    font-weight: 600;
    font-size: 24.4327px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #ffffff;
    width: 250px;
  }
  
  .card-info .description {
    font-weight: 400;
    font-size: 16.2884px;
    line-height: 150%;
    color: #ffffff;
    opacity: 0.7;
    width: 365px;
    margin-bottom: 50px;
  }
  
  .container-information {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14.2524px;
    line-height: 150%;
    color: #fafafa;
  }
  
  .container-images {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
  }
  
  .img-card {
    position: absolute;
    bottom: 0px;
    right: 40px;
    z-index: 999;
    width: 85%;
    animation: moveCard 2s infinite alternate ease-in-out;
  }
  
  @keyframes moveCard {
    from {
      bottom: 0;
    }
  
    to {
      bottom: -60px;
    }
  }
  
  .img-phone {
    position: absolute;
    bottom: -50px;
    right: 40px;
    width: 80%;
  }