* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.conteudo {
    width: 100%; /* largura */
    display: flex; /* permite que alteremos a posição dos elementos na tela */
    justify-content: space-between; /* permite justificar / alinhar os componentes na horizontal */
    align-items: center; /* permite alinhar os componentes na vertical*/
}

.caixa-texto {
    width: 200px;
}

.caixa-imagem {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    margin-left: 0px;
}

.menu {
    display: flex;
    justify-content: center;
}

h2 {
    color: #333;
    font-size: 55px;
    font-weight: 500;
}

span {
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p {
    font-size: 16px;
    /* tamanho da fonte */
}

button {
    background: #017143;
    color: white; 
    border-radius: 40px;  
    border: none; 
    cursor: pointer;
    padding: 10px;
    
}

span {
    color: #017143;
}

.logo {
    width: 60px;
}

.starbucks {
    width: 300px;
}

.botao-menu {
    width: 100px;
    transition: 0,9s;
    cursor: pointer;
    margin: 10px;
}

.botao-menu:hover {
    transform: translateY(-25px);
}

.circulo {
    position: absolute;
    width: 100%;
    height: 120%;
    background: #017143;
    top: 0;
    left: 0;
    clip-path: circle(400px at right 500px);
    z-index: -1;
}
